/*
  ____           _   _     _             
 |  _ \ ___  ___| |_(_)___| | __ ___   __
 | |_) / _ \/ __| __| / __| |/ _` \ \ / /
 |  _ < (_) \__ \ |_| \__ \ | (_| |\ V / 
 |_| \_\___/|___/\__|_|___/_|\__,_| \_/  
                                         
*/
body {
    background: url(img/bg.jpg);
    background-repeat: repeat;
    background-size: 300px 300px;
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 100px;
    font-family: "Century Gothic", Arial, sans-serif;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    overflow-x: hidden;
    font-family: "Century Gothic";
}

#index-page{
    padding-top: 0;
}

html,
body {
    scroll-behavior: smooth;
    height: 110%;
    animation-name: animatebottom;
}

img{
    user-select: none;
}


@font-face {
    font-family: "Century Gothic";
    src: url('fonts/CenturyGothic.eot?#iefix');
    src: url('fonts/GOTHIC.TTF');
}

@font-face {
    font-family: "timeburnernormal";
    src: url('fonts/timeburnernormal.ttf');
}

.footer-copyright {
    font-family: "timeburnernormal";
    top: 10px;
    position: relative;

}



.pointer {
    cursor: pointer;
}
.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;

}

.navtransparent {
    background-color: transparent !important;
    box-shadow: none;
}

nav {
    background-color: rgba(121, 85, 72, 0.85);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    user-select: none;
}

nav .right li a{
    display: flex;
    align-items: center;
}
nav .right li a span{
    margin-right: 5px;
}


nav.sticky {
    -webkit-transition: 0.3s;
    transition: 0.3s;

}
.brand-logo span{
    margin-right: 5px;
}


.card-panel {
    color: dimgray;
    border-radius: 25px;
    height: auto;
    transition: 0.30s;
    -webkit-transition: 0.30s;
    -moz-transition: 0.30s;
    -ms-transition: 0.30s;
    -o-transition: 0.30s;
    margin-top: 50px;
}

.card-image{
    border-radius: 25px 25px 0px 0px !important;
}
.card{
    border-radius: 25px;
}
.card-action{
    border-radius: 0px 0px 25px 25px !important;
}

.card-image img{
    border-radius: 25px 25px 0px 0px !important;
}

#go-top {
    position: fixed;
    bottom: 25px;
    right: 23px;
    cursor: pointer;
    display: none;
    width: 45px;
    height: 45px;
    background: rgb(238, 238, 238);
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
    color: dimgray;
    user-select: none;
}

@media screen and (min-width:976px) {
    ::-webkit-scrollbar-button {
        background-image: url('');
        background-repeat: no-repeat;
        width: 6px;
        height: 0px
    }

    ::-webkit-scrollbar-track {
        background-color: #ecedee;

    }

    ::-webkit-scrollbar-thumb {
        background-color: #6dc0c8;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #56999f;
    }

    ::-webkit-resizer {
        background-image: url('');
        background-repeat: no-repeat;
        width: 4px;
        height: 0px
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    #go-top:hover {
        background: #333;
        color: #fff;
        transition: 0.3s;
    }

    #go-top {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;

    }

    .scale-animation:hover {
        transition: 0.30s;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .scale-animation {
        transition: 0.30s;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
    }
    .medalscale-animation{
        transition: 0.30s;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
    }
    .medalscale-animation:hover{
        transition: 0.30s;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
        transform: scale(3);
        -webkit-transform: scale(1.7);
        -moz-transform: scale(1.7);
        -o-transform: scale(1.7);
        -ms-transform: scale(1.7);
        transform: scale(1.7);
       
    }

    .top-animation {
        transition: 0.30s;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
    }

    .top-animation:hover {
        transition: 0.30s;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    nav li a:hover {
        opacity: 0.7;
        transition: 0.30s;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
    }

    nav li a {
        opacity: 1;
        transition: 0.30s;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -ms-transition: 0.30s;
        -o-transition: 0.30s;
    }
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
    }

    to {
        bottom: 0;
    }
}



.bluredforest {
    background-image: url(img/bggg.jpg);
    background-size: 3000px;
    height: 100vh;
    position: relative;

}

.indexmaincontent img{
    border-radius: 5px;
}

.indexmaincontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.indexmaincontent .row{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .indexmaincontent .row{
        display: flex;
        flex-direction: column;
    } 
}

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: calc(100vh - 80px);
}




* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    user-select: none;
}
.sidenav-overlay {
    z-index: 0;

}

@media screen and (min-width: 1367px) {

    html,
    body {
        font-size: 1rem;
    }
}

footer {
    text-align: center;
}

#go-top-icon {
    position: relative;
    top: 23%;
}

#index-text{

}

.brand-logo {
    margin-left: 15px;
    white-space: nowrap
}

.citata {
    font-size: 0.8rem;
}

.text {
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}

.btn {
    border-radius: 15px;
    user-select: none;
    transition: 0.3s;
}

.maps {
    height: 500px;
}

.upper {
    position: relative;
    top: 30px;
}

a {
    color: black;
}

.collapsible{
    user-select: none;
}

@media screen and (min-width: 768px) {
    .MemoryHiddenBtn {
        position: absolute;
        bottom: 15px;
        left: 45%;
    }


    .collapsiblecustfull {
        position: relative;
        bottom: 370px;
        margin: 0 auto;
        background-color: white;
    }

    .slider {
        height: 85%;
        width: auto;
        background-color: gray;

    }

    .card img {
        width: 100%;
        height: 350px;
    }

}

@media screen and (max-width: 768px) {
          body{
        font-size: 16px !important;
    }

    .MemoryHiddenBtn {
        position: absolute;
        bottom: 15px;
        left: 35%;


    }

    .modal {
        width: 93% !important;
    }

    .card {
        width: 100% !important;
    }


    .card img {
        height: 100%;
    }

    .collapsiblecustfull {
        position: relative;
        bottom: 280px;
        margin: 0 auto;
        background-color: white;
    }

    .slider {
        height: 95%;
        width: auto;
        z-index: 0 !important;
    }

    .slidermobile {
        position: relative;
        top: 270px;
    }

    .timelinemenu h6 {
        display: none;
    }
}

nav::-webkit-scrollbar {
    width: 0;
}

/* ie 10+ */
nav {
    -ms-overflow-style: none;
}

.timelinemenubut:hover {
    transition: 0.5s;
    opacity: 0.7;
    background-color: #d87f3a;
    width: 100px;
    color: white;
    position: relative;
    left: 5px;

}

.tab a{
    color: rgb(221, 221, 221) !important;
    opacity: 1;
}
.tab.disabled a{
    opacity: 0.5;
}

.timelinemenubut {
    transition: 0.5s;
    position: relative;
    right: 100px;
    opacity: 0;

}

.collection {
    border-radius: 25px;
        color: dimgray;
        margin-top:25px;
}
.collection .title{
    font-size: 25px !important;
}

.card {
    color: black;
}

.MemoryHiddenCard {
    position: relative;
    top: 1800px;
}

.center img {
    border-radius: 10px;
    margin-top: 5px;
}

.timelinemenu .sticky {
    transition: 0.3s;
    opacity: 1;
    right: 0px;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

@media screen and (min-width: 1367px) {
    .timelinemenu {
        position: absolute;
        position: fixed;
        top: 350px;
        left: 80px;
        color: brown;
        transition: 0.2s;
    }
    body{
        font-size: 22px;
    }

}

@media screen and (max-width: 1366px) {
    .timelinemenu {
        position: absolute;
        position: fixed;
        top: 260px;
        left: 80px;
        color: brown;
        transition: 0.2s;
    }
      body{
        font-size: 20px;
    }

}

.card {
    width: 175%;
}

#vk_poll {

    margin: 0 auto;
}

.modal {
    border-radius: 25px;
    overflow-y: hidden;
}
.contacts{
    font-size: 15px;
    display: inline-flex;
}
 .slider {
        height: 95%;
        width: auto;
        z-index: 0 !important;
    }
.medalblock{
    margin: 0 auto;
    margin-top: 50px;
}

.bx-wrapper{
    border-radius: 25px;
}
.slidermobile img{
    border-radius: 25px;
    overflow: hidden !important;
}
.bx-viewport{
    border-radius: 25px !important;
}
.slider{
    background-color: #fff;
    border-radius: 25px;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: 10px !important;
}

@media screen and (max-width: 768px){
    
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: -45px !important;
}
}

.collapsible{
    border-radius: 25px;
    overflow: hidden;
}

.maps{
    border-radius: 25px !important;
    overflow: hidden;
}